<header>
    <nav class="navbar navbar-expand-sm navbar-dark background_main" style="background-color: #44cf04;">
        <a class="navbar-brand" href="#">
            <img src="logo.jpg" width="50" height="50" alt="" class="rounded-circle" >
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="/index">Trang Chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/danhmuc">Danh Mục</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/sanpham">Sản Phẩm</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="/timkiem">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <a class="navbar-brand ml-3" href="/cart" style="font-size:30px">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </nav>
</header>