<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
</head>

<body>
    <div class="content">
        <div class="content__item">
            <img src="https://images.unsplash.com/photo-1629318682484-e77bbbdf8283?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmVnYXRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" class="item__img">
            <h3 class="item__title">Bông Cải Xanh</h3>
        </div>
        <div class="content__item">
            <img src="https://images.unsplash.com/photo-1599145566106-fa02aafba0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dmVnYXRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" class="item__img">
            <h3 class="item__title">Bông Cải Xanh</h3>
        </div>
        <div class="content__item">
            <img src="https://images.unsplash.com/photo-1527619635633-2f162c423935?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmVnYXRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" class="item__img">
            <h3 class="item__title">Bông Cải Xanh</h3>
        </div>
        <div class="content__item">
            <img src="https://images.unsplash.com/photo-1578167637694-5a5c45d5a322?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dmVnYXRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                alt="" class="item__img">
            <h3 class="item__title">Bông Cải Xanh</h3>
        </div>
        <div class="content__item">
            <img src="https://images.unsplash.com/photo-1646925707676-d2db5b4adde0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHZlZ2F0YWJsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="" class="item__img">
            <h3 class="item__title">Bông Cải Xanh</h3>
        </div>

    </div>
</body>

</html>